<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12">
            <h3>is a country in Western Asia, bordered by Turkey to the north, Iran to the east, Kuwait to the southeast, Saudi Arabia to the south, Jordan to the southwest, and Syria to the west. The capital, and largest city, is Baghdad. The main ethnic groups are Arabs and Kurds; others include Assyrians, Turkmen, Shabakis, Yazidis, Armenians, Mandeans, Circassians, and Kawliya.[6] Around 95% of the country's 36 million citizens are Muslims, with Christianity, Yarsan, Yezidism, and Mandeanism also present. The official languages of Iraq are Arabic and Kurdish.
            </h3>
            <div class="row text-center">
                <div class="col-md-12">
                    <h3>populations: 31,234,000.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
