<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>yoda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href='style.css'>
</head>

<body ng-app="myApp" ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="master-yoda-vector.png">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-5 col-md-offset-4">
                <div class="row">
                    <div class="col-md-8">
                        <input placeholder="YODASPEAK" class="form-control" ng-model="text">
                    </div>
                    <div class="col-md-4">
                         <button class="btn btn-primary form-control" ng-click="btn()">Click</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-4" ng-if="yoda !=undefind">
                       <tabla>
                           <tr><th>YODA SPEAK</th></tr>
                           <tr><td>{{yoda}}</td></tr>
                       </tabla>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js">


    </script>
    <script src="js/app.js"></script>
</body>

</html>
