body{
    background: #b9c7c7;
    padding: 0;
    margin: 0;
}
div{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 70px;
}

p{
    text-align: center;
    float: left

}
nav{
    position: fixed;
    font-size: 30px;
    color: #d0e0e0;
    background: #454a4a;
    font-family: fantasy;
    width: 100%;
    text-align: center;
    top: 0;
    
}
img{
    width: 200px;
    height: 200px;
margin-right: 500px;
    
}
