<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="imgNav" src="header.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default mega-nav">
                <div class="container-full">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                    </div>

                </div>
                <div class="collapse navbar-collapse" id="MainMenu">
                    <ul class="nav navbar-nav menu-list">
                        <li><a href="#/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="#/actor">Actor</a></li>
                        <li><a href="#/contactus">Contact us </a></li>

                    </ul>
                    <form id="mega-search" class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" ng-model="search" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

    </div>

</div>
