<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="mainCtrl">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="ToDo-List-icon.png">
            </div>
        </div>
        <div class="row text-center">
            <div id="addingInfo"class="col-md-4 col-md-offset-4">
                <label>Title</label><input class="form-control" ng-model="title">
                <label>Image</label><input class="form-control" ng-model="imgUrl">
                <label>Price</label><input type="number" class="form-control" ng-model="price">
                <label>Description</label><input class="form-control" ng-model="description">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <label>completed</label><input type=checkbox ng-model="checkBox">
                <div class="line" ng-class="line"></div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="btn()">Submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="information" ng-repeat="item in arr">

                    <div class="row">
                        <div class="col-md-4">
                            <p class="lead">Title: {{item.title}}</p>
                            <img ng-src="{{item.imgUrl}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="lead">Price: {{item.price}}</p>
                            <p class="lead">Description: {{item.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{item.checkBox}}</p>
                            <a class="btn btn-danger" ng-click="remove(item)">Delete</a>
                            <a class="btn btn-success" ng-click="update(item)">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>
