/*h1{
    text-align: center;
    border-radius: 8px;
    margin-top: 50px;
}*/

img{
    width: 200px;
}

.line{
    text-decoration: line-through;
}
#addingInfo{
    margin-bottom: 100px !important;
}

