img{
    width: 300px;
    height: 250px;
    top: 30px;
    position: relative;
}
.image1{
    margin-bottom: 100px
}
btn{
    position: relative;
    right: 320px;
}

h1{
    text-align: center;
    background-color: crimson;
    border-radius: 15px;
    color: white
}
.input-group{
    position: relative;
    bottom: 10px;
    
}
button{
    position: relative;
    bottom: 7px;
}